# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# Virtual environments
.env/
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Allure
allure-report/
allure-results/
allure_results/

# Logs
*.log
.geckodriver.log

# System
.DS_Store
Thumbs.db

# Drivers
drivers/
allure_result/
allure_reports/